@page
@model WarehouseModel
@{
    ViewData["Title"] = "Home";
}


<div class="main_container">

    <div class="header">
        <div class="money_indicator">
            @{
                foreach (var location in Model.allLocation)
                {
                    if(location.LocationActive == true)
                        {
                            <div class="money_amount">@location.Money</div>

                        }
                }
              }
            <i class="material-icons money_icon">bubble_chart</i>
        </div>
    </div>

    @foreach (var location in Model.allLocation)
    {
<div class="location_cards">
            <i class="material-icons location_icon">location_on</i>
                
                    <h3 class="location_names">@location.Name</h3>
                    <div class="stock_divider"></div>
                    <div class="stock_title">stock</div>
                    <div class="stock_holders">
                        <span class="stock">
                            <div class="stock_amounts">@Services.Database.getSolids(location.Id)<sub style="color: #00ffa0; font-size: 10px;">kg</sub></div>
                            <div class="stock_name">solid</div>
                        </span>
                        <span class="stock">
                            <div class="stock_amounts">@Services.Database.getLiquids(location.Id)<sub style="color: #00ffa0; font-size: 10px;">l</sub></div>
                            <div class="stock_name">liquid</div>
                        </span>
                        <span class="stock">
                            <div class="stock_amounts">@Services.Database.getGases(location.Id)<sub style="color: #00ffa0; font-size: 10px;">l</sub></div>
                            <div class="stock_name">gas</div>
                        </span>
                    </div>

            @{
                if (location.LocationActive)
                {
    
                    <input class="transefer-btn" type="submit" value="You're Here" style="float: left" disabled/>
    
                }
                else
                {
                    <form method="post"
                          asp-page-handler="switch"
                          asp-route-name="@location.Name"
                          asp-route-address="@location.Address"
                          asp-route-money="@location.Money"
                          asp-route-loactionActive="@location.LocationActive">
    
                        <input type="hidden" name="status" value="@location.LocationActive" />
    
                        <input class="switch-btn" type="submit" value="Switch" style="float: left" />
    
                    </form>
    
                }
    
            }

        </div>
    }

</div>