@{
    
    var activeLocation = 0;
    var locationMoney = 0;

    foreach (var location in Model.allLocation)
    {
        if (location.LocationActive == true)
        {
            activeLocation = location.Id;
            locationMoney = location.Money;
            Console.WriteLine($"locationMoney {locationMoney}");
            Console.WriteLine($"activeLocation {activeLocation}");
        }
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
    <header>
        <nav>

            <h1 class="nav_logo">INVENT<span style="color: #00ffa0">O</span>RY</h1>

            <div class="nav_btns">
                <a asp-area="" asp-page="/Index">
                    <div class="button">
                        <i class="material-icons btn_icon">home</i>
                        <div class="btn_style">home</div>
                    </div>
                </a>

                <a asp-area="" asp-page="/Lab">
                    <div class="button">
                        <i class="material-icons btn_icon">bubble_chart</i>
                        <div class="btn_style">lab</div>
                    </div>
                </a>

                <a asp-area="" asp-page="/Warehouse">
                    <div class="button">
                        <i class="material-icons btn_icon">location_on</i>
                        <div class="btn_style">warehouse</div>
                    </div>
                </a>
            </div>

            @*@foreach (var location in Model.activeLocation)
                {*@

            <div class="location_card">
                <i class="material-icons location_icon">location_on</i>
                <h6 class="location_subtitle">you are here</h6>
                @foreach (var location in Model.allLocation)
                {
                    if (location.Id == activeLocation)
                    {
                        <h3 class="location_name">@location.Name</h3>
                        <div class="stock_divider"></div>
                        <div class="stock_title">stock</div>
                        <div class="stock_holder">
                            <span class="stock">
                                <div class="stock_amount">@Services.Database.getSolids(location.Id)<sub style="color: #00ffa0; font-size: 10px;">kg</sub></div>
                                <div class="stock_name">solid</div>
                            </span>
                            <span class="stock">
                                <div class="stock_amount">@Services.Database.getLiquids(location.Id)<sub style="color: #00ffa0; font-size: 10px;">l</sub></div>
                                <div class="stock_name">liquid</div>
                            </span>
                            <span class="stock">
                                <div class="stock_amount">@Services.Database.getGases(location.Id)<sub style="color: #00ffa0; font-size: 10px;">l</sub></div>
                                <div class="stock_name">gas</div>
                            </span>
                        </div>
                    }
                }
            </div>
            @*}*@


        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
